<ion-modal-view class="irk-modal">

<irk-ordered-tasks>

  <irk-task>
    <irk-instruction-step id="s1" title="Active Task" text="Your description goes here." button-text="Next" footer-attach="true"/>
  </irk-task>

  <irk-task>
    <irk-instruction-step id="s2" title="Active Task" text="Your description goes here." button-text="Get Started" image="custom-ionic" footer-attach="true"/>
  </irk-task>

  <irk-task>
    <irk-countdown-step id="t1"/>
  </irk-task>

  <irk-task>
    <irk-completion-step id="s3"/>
  </irk-task>

</irk-ordered-tasks>

</ion-modal-view>
