<ion-modal-view class="irk-modal">

<irk-ordered-tasks>

  <irk-task>
    <irk-instruction-step id="a1" title="Fitness" text="This activity monitors your heart rate and measures how far you can walk in six minutes." button-text="Next"  footer-attach="true"/>
  </irk-task>

  <irk-task>
    <irk-instruction-step id="a2" title="Fitness" text="Walk outdoors at your fastest possible pace for six minutes. When you're done, sit and rest comfortably for three minutes." button-text="Get Started" footer-attach="true"/>
  </irk-task>
  <!--
  <irk-task>
    <irk-countdown-step id="a3"/>
  </irk-task>
  -->
  <irk-task>
    <irk-fitness-task id="a4"/>
  </irk-task>
  <irk-task>
    <irk-completion-step id="a5"/>
  </irk-task>

</irk-ordered-tasks>

</ion-modal-view>
