<ion-modal-view class="irk-modal">

<irk-consent-tasks>

  <irk-consent-task>
    <irk-visual-consent-step id="c1" type="overview" summary="Your summary goes here.">
    	content
	</irk-visual-consent-step>
  </irk-consent-task>

  <irk-consent-task>
    <irk-visual-consent-step id="c2" type="data-gathering" summary="Your summary goes here.">
    	content
	</irk-visual-consent-step>
  </irk-consent-task>

  <irk-consent-task>
    <irk-visual-consent-step id="c3" type="privacy" summary="Your summary goes here.">
    	content
	</irk-visual-consent-step>
  </irk-consent-task>

  <irk-consent-task>
    <irk-visual-consent-step id="c4" type="data-use" summary="Your summary goes here.">
    	content
	</irk-visual-consent-step>
  </irk-consent-task>

  <irk-consent-task>
    <irk-visual-consent-step id="c5" type="time-commitment" summary="Your summary goes here.">
    	content
	</irk-visual-consent-step>
  </irk-consent-task>

  <irk-consent-task>
    <irk-visual-consent-step id="c6" type="study-survey" summary="Your summary goes here.">
    	content
	</irk-visual-consent-step>
  </irk-consent-task>

  <irk-consent-task>
    <irk-visual-consent-step id="c7" type="study-tasks" summary="Your summary goes here.">
    	content
	</irk-visual-consent-step>
  </irk-consent-task>

  <irk-consent-task>
    <irk-visual-consent-step id="c8" type="withdrawing" summary="Your summary goes here.">
    	content
	</irk-visual-consent-step>
  </irk-consent-task>

  <irk-consent-task>
    <irk-visual-consent-step id="c9" type="custom" title="Your Title." text="Learn more" summary="Your summary goes here.">
    	content
	</irk-visual-consent-step>
  </irk-consent-task>

  <irk-consent-task>
    <irk-consent-review-step id="" title="" requiresName="true" requiresSignatureImage="true" signaturePageTitle="" signaturePageContent="">
    	<irk-consent-signature id="" title="" given-name="" family-name="" signatureImage="" signatureDate="" signature-date-format=""/>
    	<irk-consent-signature id="" title="" given-name="" family-name="" signatureImage="" signatureDate="" signature-date-format=""/>
	</irk-consent-review-step>
  </irk-consent-task>

  <irk-consent-task>
    <irk-consent-sharing-step id="" title="" text="true" investigator-short-description="" investigator-long-description="">
    	content
	</irk-consent-sharing-step>
  </irk-consent-task>    
  
</irk-consent-tasks>

</ion-modal-view>
