<ion-modal-view class="irk-modal">

<irk-ordered-tasks>

  <irk-task>
    <irk-instruction-step title="Your title here." text="Additional text can go here."/>
  </irk-task>

  <irk-task>
    <irk-scale-question-step id="q1" title="Your question here." text="Additional text can go here." min="1" max="10" step="1" value="5" optional="false"/>
  </irk-task>

  <irk-task>
    <irk-boolean-question-step id="q2" title="Your question here." text="Additional text can go here."/>
  </irk-task>

</irk-ordered-tasks>

</ion-modal-view>
