<ion-modal-view class="irk-modal">

<irk-ordered-tasks>

  <irk-task>
    <irk-instruction-step id="a1" title="Spatial Memory" text="This activity measures your short-term spatial memory by asking you to repeat the order in which tiles light up." button-text="Next" footer-attach="true"/>
  </irk-task>

  <irk-task>
    <irk-instruction-step id="a2" title="Spatial Memory" text="Some of the tiles will light up one at a time. Tap those tiles in the same order they lit up.<br><br>To begin, tap Get Started, then watch closely." button-text="Get Started" footer-attach="true"/>
  </irk-task>
  <!--
  <irk-task>
    <irk-countdown-step id="a3"/>
  </irk-task>
  -->
  <irk-task>
    <irk-spatial-memory-task id="a4"/>
  </irk-task>
  <irk-task>
    <irk-completion-step id="a5"/>
  </irk-task>

</irk-ordered-tasks>

</ion-modal-view>
