<ion-modal-view class="irk-modal">

<irk-ordered-tasks>

  <irk-task>
    <irk-instruction-step id="s1" title="Hello." text="This is a sample survey."/>
  </irk-task>

  <irk-task>
    <irk-scale-question-step id="q1" title="A scale question." text="This is not required so you can skip this." min="1" max="10" step="1" value="5"/>
  </irk-task>

  <irk-task>
    <irk-scale-question-step id="q2" title="A scale question." text="This is required so you have to answer." min="1" max="10" step="1" value="5" optional="false"/>
  </irk-task>

  <irk-task>
    <irk-boolean-question-step id="q3" title="A boolean question." text="This is not required so you can skip this."/>
  </irk-task>

  <irk-task>
    <irk-boolean-question-step id="q4" title="A boolean question." text="This is required so you have to answer." optional="false" true-value="yes" false-value="no" true-text="Yes" false-text="No"/>
  </irk-task>

  <irk-task>
    <irk-text-question-step id="q5" title="A text question." text="This is for multiple lines."/>
  </irk-task>

  <irk-task>
    <irk-text-question-step id="q6" title="A text question." text="This is for a single line." multiple-lines="false"/>
  </irk-task>

</irk-ordered-tasks>

</ion-modal-view>
