<ion-modal-view class="irk-modal">

<irk-ordered-tasks>

  <irk-task>
    <irk-instruction-step id="a1" title="Image Capture" text="Image Capture activity." button-text="Next" image="irk-voice" footer-attach="true"/>
  </irk-task>

  <irk-task>
    <irk-instruction-step id="a2" title="Image Capture" text="Take a picture.<br><br>Tap Get Started to begin." button-text="Get Started" image="irk-voice-recording" footer-attach="true"/>
  </irk-task>
  <!--
  <irk-task>
    <irk-countdown-step id="a3"/>
  </irk-task>
  -->
  <irk-task>
    <irk-image-task id="a4"/>
  </irk-task>
  <irk-task>
    <irk-completion-step id="a5"/>
  </irk-task>

</irk-ordered-tasks>

</ion-modal-view>
