<ion-modal-view class="irk-modal">

<irk-ordered-tasks>

  <irk-task>
    <irk-instruction-step id="a1" title="Gait and Balance" text="This activity measures your gait and balance as you walk and stand still. Do not continue if you cannot safely walk unassisted" button-text="Next"  footer-attach="true"/>
  </irk-task>

  <irk-task>
    <irk-instruction-step id="a2" title="Gait and Balance" text="Find a place where you can safely walk unassisted for about 20 steps in a straight line.<br><br>Put your phone in a pocket or bag and follow the audio instructions." button-text="Get Started" footer-attach="true"/>
  </irk-task>
  <!--
  <irk-task>
    <irk-countdown-step id="a3"/>
  </irk-task>
  -->
  <irk-task>
    <irk-gait-balance-task id="a4"/>
  </irk-task>
  <irk-task>
    <irk-completion-step id="a5"/>
  </irk-task>

</irk-ordered-tasks>

</ion-modal-view>
