<ion-modal-view class="irk-modal">

<irk-ordered-tasks>

  <irk-task>
    <irk-instruction-step id="s1" title="Hello." text="This is a sample survey."/>
  </irk-task>
  
  <irk-task>
    <irk-scale-question-step id="q1" title="A scale question." text="This is required so you have to answer." min="1" max="10" step="1" value="5" optional="false" />
  </irk-task>

  <irk-task>
    <irk-scale-question-step id="q2" title="A scale question." text="This is not required so you can skip this." min="1" max="10" step="1" value="5" min-text="Low" max-text="High"/>
  </irk-task>

  <irk-task>
    <irk-boolean-question-step id="q3" title="A boolean question." text="True or False?" true-value="yes" false-value="no" true-text="Yes" false-text="No"/>
  </irk-task>

  <irk-task>
    <irk-text-question-step id="q4" title="A text question." text="This is for multiple lines." placeholder="Your placeholder." />
  </irk-task>

  <irk-task>
    <irk-text-question-step id="q5" title="A text question." text="This is for a single line." multiple-lines="false" placeholder="Your placeholder." />
  </irk-task>

  <irk-task>
    <irk-text-choice-question-step id="q6" title="A multiple choice question." text="Select only one." style="single">
      <irk-text-choice text="Choice 1" value="1"></irk-text-choice>
      <irk-text-choice text="Choice 2" value="2"></irk-text-choice>
      <irk-text-choice text="Choice 3" value="3" detail-text="Additional text can go here."></irk-text-choice>
    </irk-text-choice-question-step>
  </irk-task>

  <irk-task>
    <irk-text-choice-question-step id="q7" title="A multiple choice question." text="Select all that apply." style="multiple">
      <irk-text-choice text="Choice 1" value="1"></irk-text-choice>
      <irk-text-choice text="Choice 2" value="2"></irk-text-choice>
      <irk-text-choice text="Choice 3" value="3" detail-text="Additional text can go here."></irk-text-choice>
    </irk-text-choice-question-step>
  </irk-task>

  <irk-task>
    <irk-numeric-question-step id="q8" title="A number question." text="Accepts numbers only." unit="Your unit." min="1" max="10" placeholder="Your placeholder." />
  </irk-task>

  <irk-task>
    <irk-date-question-step id="q9" title="A date question." text="Shows the native date picker." />
  </irk-task>

  <irk-task>
    <irk-time-question-step id="q10" title="A time question." text="Shows the native time picker." />
  </irk-task>

  <irk-task>
    <irk-value-picker-question-step id="q11" title="A value picker question." text="Select a value." >
      <irk-picker-choice text="Choice 1" value="1"></irk-picker-choice>
      <irk-picker-choice text="Choice 2" value="2"></irk-picker-choice>
      <irk-picker-choice text="Choice 3" value="3"></irk-picker-choice>
    </irk-value-picker-question-step>
  </irk-task>

  <irk-task>
    <irk-image-choice-question-step id="q12" title="An image choice question." text="Select an image.">
      <irk-image-choice text="Sad" value="sad" normal-state-image="ion-sad-outline" selected-state-image="ion-sad"></irk-image-choice>
      <irk-image-choice text="Happy" value="happy" normal-state-image="ion-happy-outline" selected-state-image="ion-happy"></irk-image-choice>
    </irk-image-choice-question-step>
  </irk-task>

  <irk-task>
    <irk-image-choice-question-step id="q13" title="An image choice question." text="Select an image.">
      <irk-image-choice text="Burger" value="burger" type="image" normal-state-image="choice-food-burger" selected-state-image="choice-food-burger"></irk-image-choice>
      <irk-image-choice text="Pizza" value="pizza" type="image" normal-state-image="choice-food-pizza" selected-state-image="choice-food-pizza"></irk-image-choice>
    </irk-image-choice-question-step>
  </irk-task>

  <irk-task>
    <irk-form-step id="q14" title="A form step." text="This has several questions." >
      <irk-form-item title="Basic Info"></irk-form-item>
      <irk-form-item type="text" id="firstName" text="First Name" placeholder="John"></irk-form-item>
      <irk-form-item type="text" id="lastName" text="Last Name" placeholder="Suhr"></irk-form-item>
      <irk-form-item title="Contact Info"></irk-form-item>
      <irk-form-item type="email" id="email" text="Email" placeholder="john@suhr.com"></irk-form-item>
      <irk-form-item type="tel" id="phone" text="Phone" placeholder="555-555-5555"></irk-form-item>
    </irk-form-step>
  </irk-task>

  <irk-task>
    <irk-instruction-step id="s2" title="That's it!" text="You've completed the sample survey." button-text="Done" />
  </irk-task>

</irk-ordered-tasks>

</ion-modal-view>
