<ion-view view-title="Ionic ResearchKit">
  <ion-content>
  
  	<div class="card list">
  		<div class="item item-text-wrap">
  			Quickly build surveys simply by specifying the questions and types of answers.

        <button class="button button-block button-outline button-positive" ng-click="openModal()">
        Launch Sample Survey
        </button>
      </div>

      <div class="item item-text-wrap">
        Explain the details of your study and to obtain the participant’s consent with customizable templates.

        <button class="button button-block button-outline button-positive" ng-click="openModalConsent()">
          Launch Sample Consent
        </button>
      </div>

      <div class="item item-text-wrap">
        Active tasks invite users to perform activities under partially controlled conditions.

        <button class="button button-block button-outline button-positive" ng-click="openModalActiveTask()">
          Launch Sample Active Task
        </button>
      </div>
    </div>

  </ion-content>
</ion-view>
