<ion-view cache-view="false" view-title="Consent PDF">
  <ion-content>
  	<div class="card">
  		<div class="item item-text-wrap" ng-if="!consentDocument">
  			Launch and complete the sample Consent to generate the PDF.
  		</div>
  		<div class="item item-text-wrap" ng-if="consentDocument">
  			Here's the generated consent document in PDF.

        	<button class="button button-block button-outline button-positive" ng-click="viewPDF()">
        		View Consent Document
        	</button>
        </div>  		
	  </div>
  </ion-content>
</ion-view>
