<ion-view view-title="Active Tasks">
  <ion-content>
  	<div class="card list">

  		<div class="item item-text-wrap">
  			Assess basic motor capabilities.

        <button class="button button-block button-outline button-positive" ng-click="openModalFingerTapActiveTask()">
        Two Finger Tapping Interval Task
        </button>
	    </div>

  		<div class="item item-text-wrap">
  			Collect audio samples.

        <button class="button button-block button-outline button-positive" ng-click="openModalVoiceActiveTask()">
        Audio Task
        </button>
	    </div>

      <div class="item item-text-wrap">
        Collect image samples.

        <button class="button button-block button-outline button-positive" ng-click="openModalImageActiveTask()">
        Image Capture
        </button>
      </div>

      <div class="item item-text-wrap">
        Collect video samples.

        <button class="button button-block button-outline button-positive" ng-click="openModalVideoActiveTask()">
        Video Capture
        </button>
      </div> 

      <div class="item item-text-wrap">
        Spatial Memory Test.

        <button class="button button-block button-outline button-positive" ng-click="openModalSpatialActiveTask()">
        Spatial Memory
        </button>
      </div> 

      <div class="item item-text-wrap">
        Gait and Balance.

        <button class="button button-block button-outline button-positive" ng-click="openModalGaitBalanceActiveTask()">
        Gait and Balance
        </button>
      </div> 

      <div class="item item-text-wrap">
        Fitness.

        <button class="button button-block button-outline button-positive" ng-click="openModalFitnessTask()">
        Fitness
        </button>
      </div> 

	</div>
  </ion-content>
</ion-view>
