<ion-view view-title="Active Tasks">
  <ion-content>
  	<div class="card list">

  		<div class="item item-text-wrap">
  			Assess basic motor capabilities.

        <button class="button button-block button-outline button-positive" ng-click="openModalFingerTapActiveTask()">
        Two Finger Tapping Interval Task
        </button>
	    </div>

  		<div class="item item-text-wrap">
  			Collect audio samples.

        <button class="button button-block button-outline button-positive" ng-click="openModalVoiceActiveTask()">
        Audio Task
        </button>
	    </div>

	</div>
  </ion-content>
</ion-view>
