.center {
	text-align:center;
}

button.choice-food-burger {
	background-image: url(../img/food-burger.png) !important;
}

button.choice-food-pizza {
	background-image: url(../img/food-pizza.png) !important;
}